@import "mixin", "animation", "fonts", "variables","break-point";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Catamaran-Light";
  font-weight: 300;
  width: 100vw;
  overflow: hidden;
  .active {
    transition: all 2s ease-in-out;
    transform: translateY(0) translateX(0) scale(1) !important;
  }
  .active-nav {
    transform: scale(1.5);
  }
  .curtain {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100vw;
    height: 100vh;
    background-color: rgb(23, 28, 54);
    animation-name: curtainUp;
    animation-timing-function: cubic-bezier(0.7, 0, 0.12, 1.11);
    animation-duration: 3s;
  }
  header {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @include appear;
    nav {
      height: 10vh;
      width: 100vw;
      display: flex;
      .name {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 20vw;
        height: 100%;
        h2 {
          @include h2;
          @include hover;
        }
      }
      .social-icons {
        height: 100%;
        width: 80vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 3rem;
        div {
          width: 2rem;
          height: auto;
          margin: 0 2rem;
          color: white;
          img {
            width: 100%;
            height: auto;
            padding: 1.1rem;
            transition: all 1s ease;
          }
          &:hover {
            cursor: pointer;
          }
        }
        .facebook {
          img {
            &:hover {
              padding: 10px;
              // border: 1px solid #d2d2d8;
              padding: 1rem;
              background-color: cornflowerblue;
            }
          }
        }
        .github {
          width: 3.8rem !important;
          img {
            &:hover {
              padding: 10px;
              // border: 1px solid darkblue;
              border-radius: 30px;
              background-color: black;
            }
          }
        }
      }
    }
    .left-bar {
      display: inline-grid;
      justify-content: center;
      text-align: center;
      align-items: center;
      width: 10vw;
      height: 90vh;
      .down-arrow {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
        &:hover {
          cursor: pointer;
          .down {
            background-color: $dominant-red;
          }
        }
        .down {
          @include topFade;
          @include arrow;
        //   left:50%;
          transition: all 0.2s ease-in;
          &:before {
            @include arrowHead;
            top: 3.5rem;
            left: -1rem;
            transform: rotate(45deg);
          }
          &:after {
            @include arrowHead;
            top: 3.5rem;
            left: -0.2rem;
            transform: rotate(-45deg);
          }
        }
      }
      .up-arrow {
        display: flex;
        align-items: baseline;
        justify-content: center;
        width: 100%;
        height: 100%;
        // padding-left: 2rem;
        &:hover {
          cursor: pointer;
          .up {
            background-color: $dominant-red;
          }
        }
        .up {
          @include bottomFade;
          @include arrow;
          right:50%!important;
          transition: all 0.2s ease-in;
          &:before {
            @include arrowHead;
            top: 0.4rem;
            left: -1.1rem;
            transform: rotate(-45deg);
          }
          &:after {
            @include arrowHead;
            top: 0.4rem;
            left: -0.1rem;
            transform: rotate(45deg);
          }
        }
      }
      ul {
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
  #home {
    @include container;
    display: flex;
    transition: all 1s ease-in-out;
    transform: translateY(100%) scale(0);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .fade {
      @include rightFade;
    }
    .home-text {
      @include headerStyle;
    }
    .bright-shade-1 {
      position: absolute;
      top: 9%;
      right: 5%;
      width: 29rem;
      height: auto;
      object-fit: cover;
      animation-timing-function: cubic-bezier(0.84, 0.04, 0.42, 1.35);
    }
    .bright-shade-2 {
      position: absolute;
      top: 9%;
      right: 39%;
      width: 28rem;
      height: auto;
      object-fit: cover;
      animation-timing-function: cubic-bezier(0.71, 0.35, 0.42, 1.35);
    }
    .moon {
      position: absolute;
      top: 3.5%;
      right: 12.5%;
      width: 54rem;
      height: auto;
      object-fit: cover;
      animation-timing-function: cubic-bezier(0.71, 0.35, 0.42, 1.35);
    }
    .portfolio {
      position: absolute;
      top: 42%;
      right: 29.5%;
      width: 46rem;
      height: auto;
      object-fit: cover;
      animation-timing-function: ease;
    }
    .dark-shade-1 {
      position: absolute;
      top: 71%;
      right: 12%;
      width: 25rem;
      height: auto;
      object-fit: cover;
      animation-timing-function: cubic-bezier(0.71, 0.35, 0.42, 1.35);
    }
    .dark-shade-2 {
      position: absolute;
      top: 64%;
      right: 35%;
      width: 34rem;
      height: auto;
      object-fit: cover;
      animation-timing-function: cubic-bezier(0.84, 0.04, 0.42, 1.35);
    }
    .dark-shade-3 {
      position: absolute;
      top: 37%;
      right: -1%;
      width: 35rem;
      height: auto;
      object-fit: cover;
      animation-timing-function: cubic-bezier(0.84, 0.04, 0.42, 1.35);
    }
  }
  .bg-container {
    position: relative;
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .pre-nex {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      color: white;
      font-size: 5rem;
      width: 100vw;
     
    }
    .star {
      position: absolute;
      top: -112px;
      right: 77px;
      width: 89%;
      height: auto;
      object-fit: cover;
    }
    .moon-shine {
      position: absolute;
      right: -15%;
      width: 135rem;
      height: auto;
      object-fit: cover;
    }
  }
  #about {
    transform: translateY(100%) scale(0);
    transition: all 1s ease-in-out;
    @include container;
    .about-header {
      @include headerStyle;

      .button {
        position: absolute;
        margin-top: 2.5rem;
        @include button;
        @include leftFade;
      }
    }
    .about-img {
      .image {
        @include rightFade;
        position: absolute;
        bottom: 16%;
        right: 10%;
        width: 50vw;
        height: 75vh;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  #more-me {
    transform: translateX(100%) scale(0);
    transition: all 1s ease-in-out;
    @include container;
    .more-me-image {
      position: absolute;
      left: 0;
      top: 6%;
      @include leftFade;
      .image {
        height: 61.5vh;
        width: 20vw;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
          border-radius: 1.5rem;
        }
      }
      a {
        position: absolute;
        bottom: -12%;
        left: 0;
        width: 17.5vw;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        display: flex;
        text-align: center;
        justify-content: center;
        @include button;
      }
    }
    .more-about {
      width: 60vw;
      position: absolute;
      bottom: 20%;
      right: 7%;
      height: 67vh;
      @include rightFade;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  #contact {
    transform: translateY(100%) scale(0);
    transition: all 1s ease-in-out;
    @include container;
    .contact-header {
      @include headerStyle;

      .button {
        position: absolute;
        margin-top: 2.5rem;
        @include button;
        @include leftFade;
        &:hover {
          cursor: pointer;
        }
      }
      .phone {
        a {
          color: cornflowerblue;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: azure;
          }
        }
      }
    }
    .contact-img {
      .image {
        @include rightFade;
        position: absolute;
        bottom: 10%;
        right: 10rem;
        width: 52vw;
        height: 75vh;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

}
@media only screen and (max-width: 600px) {
    html{
    font-size: 3px;
    }
    body {
      overflow: hidden;
      header {
        .left-bar {
          height: 75vh;
          ul {
            font-size: 3rem;
          }
        }
      }
      .bg-container {
        .star {
          top: 106px;
          right: 0;
          width: 100%;
        }
        .moon-shine {
          right: 0;
          width: 100%;
        }
      }
      #home {
        bottom: -15%;
        display: none;
        .home-text {
          @include headerStyle;
        }
        .bright-shade-1 {
          position: absolute;
          top: 30%;
          right: 20%;
          width: 29rem;
          height: auto;
          object-fit: cover;
        }
        .bright-shade-2 {
          display: none;
        }
        .moon {
          position: absolute;
          top: 30.5%;
          right: 30.5%;
          width: 54rem;
          height: auto;
          object-fit: cover;
        }
        .portfolio {
          position: absolute;
          top: 42%;
          right: 35%;
          width: 46rem;
          height: auto;
          object-fit: cover;
          animation-timing-function: ease;
        }
        .dark-shade-1 {
          position: absolute;
          top: 49%;
          right: 22%;
          width: 25rem;
          height: auto;
          object-fit: cover;
        }
        .dark-shade-2 {
          position: absolute;
          top: 47%;
          right: 61%;
          width: 30rem;
          height: auto;
          object-fit: cover;
        }
        .dark-shade-3 {
          display: none;
        }

      }
      #about {
        bottom: -15%;
        .about-img {
          .image {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 19rem;
          }
        }
      }
      #more-me {
        bottom: -25%;
        .more-me-image {
          top: 5.5%;
          .image {
            height: 16.5vh;
    width: 20.6vw;
          }
        }
      }
      #contact {
        bottom: -15%;
        .contact-img {
          .image {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 10rem;
            padding-right: 19rem;
          }
        }
      }
    }
}
@media only screen and (min-width: 768px) {
    html{
    font-size: 8px;
    }
}
@media only screen and (min-width: 992px) {
    html{
    font-size: 8px;
    }
}
